
@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Brand</h2>

<div id="brandGrid"></div>
<div id="brandContainer">
    <div data-options="dxTemplate: { name: 'brandTemplate' }">
        <form id="brandWholeForm">
            <div id="brandForm"></div>
            <div style="margin-top: 15px;float: right;">
                <div id="saveButton"></div>
                <div id="cancelButton"></div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        var brandStore = new DevExpress.data.CustomStore({
            load: function (loadOptions) {
                var deferred = $.Deferred();
                
                $.ajax({
                    url: "@Url.Action("GetAllBrands", "Admin")",
                    success: function (result) {
                        deferred.resolve(result.data, { totalCount: result.totalCount });
                        console.log(result.data);
                    },
                    error: function (e) {
                        deferred.reject("Data Loading Error");
                    },
                    timeout: 5000
                });

                return deferred.promise();
            },

            byKey: function (key) {
                var d = new $.Deferred();

                $.ajax({
                    url: "@Url.Action("GetBrand", "Admin")",
                    success: function (result) {
                        deferred.resolve(result.data, { totalCount: result.totalCount });
                    },
                    error: function (e) {
                        deferred.reject("Data Loading Error");
                    },
                    timeout: 5000
                });

                return d.promise();
            },

            insert: function (values) {
                var deferred = $.Deferred();

                $.ajax({
                    url: "@Url.Action("AddEditBrand", "Admin")",
                    method: "POST",
                    data: { id: key },
                    success: function (result) {
                        DevExpress.ui.notify("Insert is Successful.", "success", 3000);
                        refreshDataGgrid();
                        deferred.resolve(key);
                    },
                    error: function (e) {
                        deferred.reject("Data Loading Error");
                    },
                });

                return deferred.promise();
            },

            update: function (key, values) {
                var deferred = $.Deferred();

                $.ajax({
                    url: "@Url.Action("AddEditBrand", "Admin")",
                    method: "POST",
                    data: { id: key, brand: values },
                    success: function (result) {
                        DevExpress.ui.notify("Updating is Successful.", "success", 3000);
                        refreshDataGgrid();
                        deferred.resolve(key);
                    },
                    error: function (e) {
                        DevExpress.ui.notify(e.ErrorMessage, "error", 3000);
                        deferred.reject("Data Loading Error");
                    },
                });

                return deferred.promise();
            },

            remove: function (key) {
                var deferred = $.Deferred();

                $.ajax({
                    url: "@Url.Action("DisableBrand", "Admin")",
                    method: "POST",
                    data: { id: key },
                    success: function (result) {
                        DevExpress.ui.notify("Remove is Successful.", "success", 3000);
                        refreshDataGgrid();
                        deferred.resolve(key);
                    },
                    error: function (e) {
                        deferred.reject("Data Loading Error");
                    },
                });

                return deferred.promise();
            }
        });

        var dataGrid = $("#brandGrid").dxDataGrid({
            dataSource: {
                store: brandStore
            },
            columns: [
                {
                    dataField: "Id",
                    visible: false
                },
                "Code",
                "Name",
                "Description",
                {
                    width: 200,
                    alignment: "center",
                    cellTemplate: function (container, options) {
                        $("<div />").dxButton({
                            text: "Edit",
                            disabled: !options.data.IsActive,
                            onClick: function (e) {
                                showBrandPopUp(options.data)
                            }
                        }).appendTo(container);

                        if (!options.data.IsActive) {
                            $("<div />").dxButton({
                                text: "Enable",
                                onClick: function (e) {
                                    //lookups.remove(options.data.Id);
                                    var result = DevExpress.ui.dialog.confirm("Are you sure?", "Enable " + options.data.Name);
                                    result.done(function (dialogResult) {
                                        if (dialogResult) {
                                            brandStore.update(options.data.Id, options.data);
                                            DevExpress.ui.notify("Confirmed", "success", 2000);
                                        }
                                    });
                                }
                            }).appendTo(container);
                        }
                        else {
                            $("<div />").dxButton({
                                text: "Disable",
                                onClick: function (e) {
                                    //lookups.remove(options.data.Id);
                                    var result = DevExpress.ui.dialog.confirm("Are you sure?", "Disable " + options.data.Name);
                                    result.done(function (dialogResult) {
                                        if (dialogResult) {
                                            brandStore.remove(options.data.Id);
                                            //DevExpress.ui.notify("Confirmed", "success", 2000);
                                        }
                                    });
                                }
                            }).appendTo(container);
                        }
                    }
                }
            ],
            onToolbarPreparing: function (e) {
                var toolbarItems = e.toolbarOptions.items;

                toolbarItems.unshift({
                    widget: "dxButton",
                    location: "before",
                    options: {
                        text: "New",
                        icon: "add",
                        hint: "Add New Brand",
                        onClick: function (arg) {
                            var newBrand = {
                                "Id": 0,
                                "Code": null,
                                "Name": null,
                                "Description": ""
                            };
                            showBrandPopUp(newBrand);
                        }
                    }
                },
                {
                    widget: "dxSelectBox",
                    location: "before",
                    options: {
                        width: 100,
                        items: [{
                            value: "All",
                            text: "All"
                        }, {
                            value: "Enable",
                            text: "Active"
                        }, {
                            value: "Disable",
                            text: "InActive"
                        }],
                        displayExpr: "text",
                        valueExpr: "value",
                        value: "All",
                        onValueChanged: function (e) {
                            var dataGrid = $("#brandGrid").dxDataGrid("instance");

                            if (e.value == "All")
                                dataGrid.clearFilter();
                            else if (e.value == "Enable")
                                dataGrid.filter(["IsActive", "=", true]);
                            else if (e.value == "Disable")
                                dataGrid.filter(["IsActive", "=", false]);
                        }
                    },
                });

            }
        }).dxDataGrid("instance");

        $("#brandContainer").dxPopup({
            title: "Brand",
            width: 500,
            height: 400,
            dragEnabled: false,
            closeOnOutsideClick: false,
            contentTemplate: "brandTemplate",
            onContentReady: function (e) {
                var form = $("#brandForm").dxForm({
                    readOnly: false,
                    showColonAfterLabel: true,
                    labelLocation: "top",
                    minColWidth: 300,
                    colCount: 1,
                    items: [
                        {
                            dataField: "Id",
                            visible: false
                        },
                        {
                            dataField: 'Code',
                            isRequired: true,
                        },
                        {
                            dataField: 'Name',
                            isRequired: true,
                        },
                        {
                            dataField: "Description",
                            editorType: "dxTextArea",
                            editorOptions: {
                                height: 90
                            }
                        },
                    ],
                    //onInitialized: onInitialized
                }).dxForm("instance");

                $("#saveButton").dxButton({
                    text: "Save",
                    onClick: function (e) {
                        var result = $("#brandForm").dxForm("instance").validate();

                        if (result.isValid) {
                            var data = {
                                "Id": $("#brandForm").dxForm("instance").option("formData").Id,
                                "code": $("#brandForm").dxForm("instance").getEditor("Code").option("value"),
                                "name": $("#brandForm").dxForm("instance").getEditor("Name").option("value"),
                                "description": $("#brandForm").dxForm("instance").getEditor("Description").option("value"),
                            };

                            brandStore.update(data.Id, data);
                            $("#brandContainer").dxPopup("hide");

                        }
                    }
                });

                $("#cancelButton").dxButton({
                    text: "Cancel",
                    onClick: function (e) {
                        $("#brandContainer").dxPopup("hide");
                    }
                });
            }
        });

        function showBrandPopUp(data) {
            console.log(data);
            $("#brandContainer").dxPopup("show");
            $("#brandForm").dxForm("instance").option("formData", data);
        }

        function refreshDataGgrid()
        {
            var dataGrid = $("#brandGrid").dxDataGrid("instance");
            dataGrid.refresh();
        }
    });
</script>

